body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}

body a {
  text-decoration: none;
  color: #000000;
}

body a:hover {
  text-decoration: underline;
}

.container {
  width: 1800px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  border-bottom: 1px solid #8E8E8E;
  margin-bottom: 27px;
}

@media (max-width: 1010px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .header {
    position: absolute;
    background-color: #F2F7FA;
    width: 100%;
    padding-top: 92px;
    padding-left: 16px;
    z-index: 10;
  }
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  margin-bottom: 26px;
}

@media (max-width: 320px) {
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 105px;
  }
}

.header .menu__list .menu__item {
  margin-right: 20px;
}

@media (max-width: 320px) {
  .header .menu__list .menu__item {
    margin-bottom: 50px;
  }
}

.header .support {
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 1010px) {
  .header .support {
    margin-left: 30px;
  }
}

.header .support a:hover {
  color: #F96753;
  -webkit-filter: drop-shadow(0px 1px 7px #F96753);
          filter: drop-shadow(0px 1px 7px #F96753);
  text-decoration: none;
}

.header .support::before {
  position: absolute;
  content: "";
  background: #052A49;
  width: 3px;
  height: 19px;
  left: -27px;
}

.header .support::after {
  position: absolute;
  content: "";
  background: #F96753;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: -22.5px;
}

main .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 166px;
}

@media (max-width: 320px) {
  main .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 75px;
    padding-left: 10px;
  }
}

main .main-header .xl_text {
  font-size: 48px;
  line-height: 58px;
  margin: 0;
}

@media (max-width: 320px) {
  main .main-header .xl_text {
    font-size: 20px;
  }
}

main .main-header p {
  margin-top: 8px;
}

main .main-header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 448px;
}

@media (max-width: 1440px) {
  main .main-header .logo {
    margin-right: 305px;
  }
}

@media (max-width: 1321px) {
  main .main-header .logo {
    margin-right: 50px;
  }
}

@media (max-width: 320px) {
  main .main-header .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    z-index: 11;
  }
}

main .main-header .logo img {
  margin-right: 9.6px;
  width: 80px;
  height: 87px;
}

@media (max-width: 1440px) {
  main .main-header .logo img {
    width: 76px;
    height: 87px;
  }
}

@media (max-width: 320px) {
  main .main-header .logo img {
    width: 36px;
    height: 40px;
  }
}

main .main-header .logo p {
  text-transform: uppercase;
}

@media (max-width: 320px) {
  main .main-header .logo p {
    display: none;
  }
}

main .main-header .menu-button {
  position: absolute;
  display: none;
  top: 8px;
  right: 0px;
  width: 35px;
  height: 30px;
  margin: 15px 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 11;
}

@media (max-width: 320px) {
  main .main-header .menu-button {
    display: block;
  }
}

main .main-header .menu-button span {
  background-color: #000000;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 18px;
  height: 2px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  top: 0px;
  left: 0px;
}

main .main-header .menu-button::before {
  content: "";
  background-color: #000000;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 18px;
  height: 2px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  top: 6px;
  left: 0px;
}

main .main-header .menu-button::after {
  content: "";
  background-color: #000000;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 18px;
  height: 2px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  top: 12px;
  left: 0px;
}

main .main-header .open span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

main .main-header .open::before {
  opacity: 0;
}

main .main-header .open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
}

main .main-header .main-header__upper {
  position: relative;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 45px;
  z-index: 1;
}

main .main-header .main-header__upper::before {
  position: absolute;
  content: "";
  top: 12px;
  left: -45px;
  width: 38px;
}

@media (max-width: 320px) {
  main .main-header .main-header__upper::before {
    top: -5px;
  }
}

@media (max-width: 320px) {
  main .main-header .main-header__upper {
    font-size: 18px;
  }
}

main .main-header .main-header__ad {
  margin-right: 108px;
}

@media (max-width: 1440px) {
  main .main-header .main-header__ad {
    margin-right: 50px;
  }
}

main .main-header .main-header__ad .main-header__upper::before {
  background: url("../images/Vector.png") no-repeat;
  height: 30px;
}

main .main-header .main-header__preview .main-header__upper::before {
  background: url("../images/calendar.png") no-repeat;
  height: 38px;
}

@media (max-width: 320px) {
  main .main-header .main-header__preview .main-header__upper {
    text-transform: lowercase;
  }
}

main .articles__title {
  margin: 0;
  margin-top: 16px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  color: #333333;
}

@media (max-width: 320px) {
  main .articles__title {
    font-size: 21px;
    line-height: 25px;
  }
}

main .articles__qoute-date {
  color: #828282;
}

@media (max-width: 320px) {
  main .articles__qoute-date {
    font-size: 12px;
  }
}

main .articles__qoute-author {
  color: #333333;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  main .articles__qoute-author {
    font-size: 12px;
  }
}

main .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 360px;
}

@media (max-width: 320px) {
  main .articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .articles .articles__first-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #273238;
  width: 576px;
  padding-left: 24px;
}

@media (max-width: 1440px) {
  main .articles .articles__first-block {
    width: 50%;
  }
}

@media (max-width: 320px) {
  main .articles .articles__first-block {
    width: 295px;
  }
}

main .articles .articles__first-block .articles__title {
  font-weight: bold;
  padding-right: 46px;
}

main .articles .articles__first-block .articles__title a {
  color: #FFFFFF;
}

main .articles .articles__first-block .articles__qoute {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 25px;
}

main .articles .articles__first-block .articles__qoute p {
  margin-bottom: 80px;
  padding-right: 50px;
}

@media (max-width: 320px) {
  main .articles .articles__first-block .articles__qoute p {
    font-size: 12px;
  }
}

main .articles .articles__first-block .articles__qoute-date {
  color: #696969;
}

main .articles .articles__first-block .articles__qoute-author {
  color: #FFFFFF;
}

main .articles .articles__first-block svg {
  margin-left: -24px;
  width: 597px;
  height: 318px;
}

@media (max-width: 1440px) {
  main .articles .articles__first-block svg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    height: 70%;
  }
}

main .articles .articles__second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1440px) {
  main .articles .articles__second-block {
    max-width: 50%;
  }
}

@media (max-width: 320px) {
  main .articles .articles__second-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: auto;
  }
}

main .articles .articles__second-block .articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 541px;
  padding-left: 24px;
  padding-right: 32px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: none;
  margin-bottom: -1px;
}

@media (max-width: 320px) {
  main .articles .articles__second-block .articles__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    width: 304px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

main .articles .articles__second-block .articles__item .articles__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

@media (max-width: 320px) {
  main .articles .articles__second-block .articles__item .articles__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 320px) {
  main .articles .articles__second-block .articles__item .articles__wrap .articles__title {
    margin-bottom: 16px;
  }
}

@media (max-width: 320px) {
  main .articles .articles__second-block .articles__item .articles__wrap div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

main .articles .articles__second-block .articles__item .articles__wrap .articles__qoute-author {
  margin: 0;
}

@media (max-width: 320px) {
  main .articles .articles__second-block .articles__item .articles__wrap .articles__qoute-author {
    margin-left: 16px;
  }
}

main .articles .articles__second-block .articles__item .articles__img {
  width: 112px;
  height: 104px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 33px;
}

@media (max-width: 320px) {
  main .articles .articles__second-block .articles__item .articles__img {
    width: 80px;
    height: 74px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 16px 10px 0 10px;
  }
}
/*# sourceMappingURL=desktop.css.map */