// colors
$bg-white: #FFFFFF;
$bg-dark: #273238;
$text-dark: #333333;
$text-black: #000000;
$text-white: #FFFFFF;
$text-gray: #828282;

body {
    width: 100%;
    box-sizing: border-box;
    background-color: $bg-white;
    color: $text-black;
    margin: 0;
    font: {
        family: "Roboto", "Arial", sans-serif;
        size: 16px;
    }
    line-height: 19px;
    letter-spacing: 0.05em;

    a {
        text-decoration: none;
        color: $text-black;

        &:hover {
            text-decoration: underline;
        }
    }
}

.container {
    width: 1800px;
    margin: 0 auto;

    @media (max-width: 1440px) {
        width: 80%;
    }

    @media (max-width: 320px) {
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 1px solid #8E8E8E;
    margin-bottom: 27px;

    @media (max-width: 1010px) {
        flex-direction: column;
    }

    @media (max-width: 320px) {
        display: none;
    }

    .menu__list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 26px;

        .menu__item {
            margin-right: 20px;
        }
    }

    .support {
        position: relative;
        margin-bottom: 20px;

        @media (max-width: 1010px) {
            margin-left: 30px;
            align-self: flex-end;
        }

        a {
            &:hover {
                color: #F96753;
                filter: drop-shadow(0px 1px 7px #F96753);
                text-decoration: none;
            }
        }

        &::before {
            position: absolute;
            content: "";
            background: #052A49;
            width: 3px;
            height: 19px;
            left: -27px;
        }

        &::after {
            position: absolute;
            content: "";
            background: #F96753;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            left: -22.5px;
        }
    }
}

main {
    .main-header {
        display: flex;
        align-items: center;
        margin-bottom: 166px;

        @media (max-width: 320px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 75px;
            padding-left: 10px;
        }

        .xl_text {
            font-size: 48px;
            line-height: 58px;
            margin: 0;

            @media (max-width: 320px) {
                font-size: 20px;
            }
        }
        
        p {
            margin-top: 8px;
        }

        .logo {
            display: flex;
            align-items: flex-start;
            margin-right: 448px;

            @media (max-width: 1440px) {
                margin-right: 305px;
            }

            @media (max-width: 1321px) {
                margin-right: 50px;
            }

            @media (max-width: 320px) {
                align-items: center;
                margin-bottom: 10px;
            }

            img {
                margin-right: 9.6px;
                width: 80px; 
                height: 87px;

                @media (max-width: 1440px) {
                    width: 76px; 
                    height: 87px;
                }

                @media (max-width: 320px) {
                    width: 36px; 
                    height: 40px;
                }
            }

            p {
                text-transform: uppercase;

                @media (max-width: 320px) {
                    display: none;
                }
            }
        }
        
        .main-header__upper {
            position: relative;
            font-weight: bold;
            margin-bottom: 8px;
            margin-left: 45px;

            &::before {
                position: absolute;
                content: "";
                top: 12px;
                left: -45px;
                width: 38px;

                @media (max-width: 320px) {
                    top: -5px;
                }
            }

            &::after {
                position: absolute;
                display: none;

                @media (max-width: 320px) {
                    display: inline;
                }
            }

            @media (max-width: 320px) {
                font-size: 16px;
                
            }
        }

        .main-header__ad {
            margin-right: 108px;

            @media (max-width: 1440px) {
                margin-right: 50px;
            }

            .main-header__upper {
                &::before {
                    background: url("../images/Vector.png") no-repeat;
                    height: 30px;
                }

                // &::after {
                //     content: ": Автор JS-интенсивов, встроенный скроллер";
                //     line-height: 130%;
                // }
            }
        }

        .main-header__preview {
            .main-header__upper {
                &::before {
                    background: url("../images/calendar.png") no-repeat;
                    height: 38px;
                }

                @media (max-width: 320px) {
                    text-transform: lowercase;
                }
            }
        }
    }

    .articles__title {
        margin: 0;
        margin-top: 16px;
        font: {
            size: 32px;
            weight: 400;
        }

        @media (max-width: 320px) {
            font-size: 21px;
            line-height: 25px;
        }

        line-height: 38px;
        color: $text-dark;
    }

    .articles__qoute-date {
        color: $text-gray;
        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    .articles__qoute-author {
        color: $text-dark;
        font-style: normal;
        text-transform: uppercase;

        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    .articles {
        display: flex;
        margin-bottom: 360px;

        @media (max-width: 320px) {
            flex-direction: column;
            flex-wrap: wrap;
        }

        .articles__first-block {
            display: inline-flex;
            flex-direction: column;
            align-self: flex-start;
            background-color: $bg-dark;
            width: 576px;
            padding-left: 24px;

            @media (max-width: 1440px) {
               width: 50%;
            }

            @media (max-width: 320px) {
                width: 295px;
            }

            .articles__title {
                font-weight: bold;
                padding-right: 46px;
                a {
                    color: $text-white;
                }
            }

            .articles__qoute {
                color: $text-white;
                margin: 0;
                margin-bottom: 25px;

                p {
                    margin-bottom: 80px;
                    padding-right: 50px;

                    @media (max-width: 320px) {
                        font-size: 12px;
                    }
                }
            }

            .articles__qoute-date {
                color: #696969;
            }

            .articles__qoute-author {
                color: $text-white;
            }

            svg {
                margin-left: -24px;
                width: 597px;
                height: 318px;

                @media (max-width: 1440px) {
                    align-self: center;
                    width: 100%;
                    height: 70%;
                }
            }
        }

        .articles__second-block {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 1440px) {
                max-width: 50%;
            }

            @media (max-width: 320px) {
                flex-direction: column;
                max-width: auto;
            }

            .articles__item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 541px;
                padding-left: 24px;
                padding-right: 32px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-right: none;
                margin-bottom: -1px;

                @media (max-width: 320px) {
                    flex-direction: row-reverse;
                    justify-content: baseline;
                    width: 304px;
                    padding: 0;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                }

                .articles__wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 33px;

                    @media (max-width: 320px) {
                        align-items: flex-start;
                    }

                    .articles__title {
                        @media (max-width: 320px) {
                            margin-bottom: 16px;
                        }
                    }

                    div {
                        @media (max-width: 320px) {
                            display: flex;
                            justify-content: space-around
                        }
                    }

                    .articles__qoute-author {
                        margin: 0;
                        margin-left: 16px;
                    }
                }

                .articles__img {
                    width: 112px;
                    height: 104px;
                    align-self: flex-end;
                    margin-bottom: 33px;

                    @media (max-width: 320px) {
                        width: 80px;
                        height: 74px;
                        align-self: flex-start;
                        margin: 16px 10px 0 10px;
                    }
                }
            }
        }
    }
}
